In [ ]:
# Python ->

# print
# input
# variable

# if-else
# loops

# functions

# little bit of Data Structures / Containers ->

In [3]:
print('Sentence 1')

Sentence 123

In [6]:
s1 = input()        # to take input from user - By default, the input entered by user is ALWAYS STRING.

In [7]:
print(type(s1))
print(s1)

<class 'str'>
16

In [8]:
s2 = int(s1)        # Typecast - TO convert data type

print(type(s2))
print(s2)

<class 'int'>
16

In [14]:
# Python - NO need to mention data type explicitly. It is understood by the interpreter.

s1 = 12
print(type(s1))
s1 = 'Amit'
print(type(s1))
s1 = True
print(type(s1))

<class 'int'>
<class 'str'>
<class 'bool'>

In [16]:
n = 4
if (n % 2) == 1:
    print("N is ODD")
else:
    print("N is EVEN")

N is EVEN

In [22]:
n = 4
if n == 1:
    print("N is FOUND")
elif n == 2:
    print("N is FOUND")
elif n == 3:
    print("N is FOUND - 3")
elif n == 4:
    print("$#@$@")
    print("N is FOUND - 44")
else:
    print("N is 7")

$#@$@
N is FOUND - 44

In [ ]:
# SCRIPTing ->
# No CURLY braces for BLOCK of code. SCRIPTING languages like YAML (BASH), Python operate based on TABS.

In [24]:
# Print numbers from 1 to 5

print(1, end=" ")
print(2, end=" ")
print(3, end=" ")
print(4, end=" ")
print(5, end=" ")

1 2 3 4 5

In [27]:
# LOOPs are used to execute the same piece of code again and again - Shorter Syntax.

for i in range(1,101,1):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [30]:
i = 1
while(i <= 5):              # L1
    print(i, end=" ")       # L2
    i = i + 1               # L3

1 2 3 4 5

In [31]:
# Method in Java is called as Function OR Method in Python.
# Whenever you see open and closed ROUND brackets - It is a function call - GENERALLY.

def functionName(a, b):
    # function definition
    product = a * b
    return product

# function call
result = functionName(a = 3, b = 7)
print(result)

21

In [40]:
# 4 Library defined Containers ->

# variable - Can store EXACTLY 1 value at a time.
# container - CAn store MORE than 1 value at the same time.

# a = 1       # Variable
# print(a)

# In python, ARRAY is called as a LIST. The difference with OTHER languages is:
# In JAVA OR C OR C++, Array can store elements of exactly 1 DATA type. Eg: int A[] can store only INTEGERS, NOT string.
# This is NOT true with Python. In Python, the same ARRAY can store any DATA type.

# In a LIST, the index is always an INTEGER.

# In Python, List index starts with 0. Similar to C, JAVA.

a = [1, 'SNAKE', True, [1,2,3, [] ] ]
# print(type(a))

# print(type(a[0]))
# print(a[0])

# print(type(a[1]))
# print(a[1])

# print(type(a[2]))
# print(a[2])

# print(type(a[3]))
# print(a[3])

# print(a[3][0])      # 2-Dimensional array = MATRIX
# print(a[3][1])
# print(a[3][2])
# print(a[3][3])


# ERROR: IndexError: list index out of range
# print(a[4])         # Maximum value of index = len(array) - 1. For 4 element array, max value of index = 4-1 = 3.


print(len(a))         # to get the number of elements in the array, use len(array_name)

4

In [41]:
# Tuple - Tuple is immutable. Once a value is assigned, it CANNOT be changed.
a = (1,2,3,)
print(a[0])
print(a[1])
print(a[2])

1
2
3

In [45]:
# a1 = [1,2,3]
# a1[0] = 11
# print(a1)           # LIST in MUTABLE - WE can EDIT elements in a list - at a particular index.


# a2 = (1,2,3)        # TypeError: 'tuple' object does not support item assignment. This means IMMUTABLE. Once created, cannot EDIT / UPDATe.
# a2[0] = 11
# print(a2)

a = 1,2,3,      4       # WHITE spaces DO NOT matter ->
print(type(a))          # TUPLE can be written with COMMAS to separate elements and WITHOUT any ROUND brackets.

<class 'tuple'>

In [49]:
# SET - To eliminate DUPLICATES. This is used for FASTER search.
a = {1,2,1,3,2,1,3,1,2}
print(a)                # After this, set value is {1,2,3}


a.pop()
print(a)        # After this pop() => set value is {2,3}

a.pop()
print(a)        # After this pop() => set value is {3}

a.pop()
print(a)        # After this pop() => set value is {}

# pop() function is used to remove element from the FRONT or from first index.

{1, 2, 3}
{2, 3}
{3}
set()

In [59]:
a = set()
type(a)
# print(type(a))
# print(a)

a.add(1)
print(a)

a.add('SHUBHANGI')
print(a)

a.add('VIJAY')
print(a)

a.add('AMIT')
print(a)

# a.add( {41,127} )       # TypeError: unhashable type: 'set'
# print(a)

a.add([1,2])              # TypeError: unhashable type: 'list' ->
print(a)

{1}
{1, 'SHUBHANGI'}
{1, 'SHUBHANGI', 'VIJAY'}
{1, 'SHUBHANGI', 'AMIT', 'VIJAY'}

TypeError: unhashable type: 'list'

In [64]:
# DICTIONARY - FAST insert, FAST delete, FAST search / look-up.
# In dictionary, we have KEY : VALUE. It is Key - value PAIR data structure.
# In dictionary, KEY can be a STRING. But in LIST, Index MUST ALWAYS be an INTEGER.

a = { "SHUBHANGI": 8, "VIJAY": 5, "AMIT": 4, 6: "PRABHU"}
# print(type(a))
# print(a)

# print(a[0])
# print(a["VIJAY"])

# print(a[6])

for key, value in a.items():
    print("KEY = {} : VALUE = {}".format(key, value))

KEY = SHUBHANGI : VALUE = 8
KEY = VIJAY : VALUE = 5
KEY = AMIT : VALUE = 4
KEY = 6 : VALUE = PRABHU

In [ ]:
# Thing to remember -> We can have elements of ANY data type in the same LIST, same TUPLE.

# LIST - elements separated by commas in SQUARE brackets
# TUPLE - elements separated by commas in ROUND brackets
# SET - elements separated by commas in CURLY brackets

# Order of insertion is maintained in LIST, STACK, QUEUE.
# Order of insertion is NOT preserved in SET, DICTIONARY.